/* Estilos generales */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

/* Estilos del footer */
/* Estilos del footer */
footer {
    background-color: #E1D6FF; /* Color morado claro */
    color: #333;
    text-align: center;
    padding: 20px 0;
    position: absolute;
    bottom: 0;
    width: 100%;
    border-radius: 20px; /* Bordes redondeados */
}

.footer-content {
    max-width: 800px;
    margin: 0 auto;
}

/* Estilo de los enlaces en el footer */
.footer-content a {
    color: #333;
    text-decoration: none;
    margin: 0 10px;
}

.footer-content a:hover {
    text-decoration: underline;
}


.footer-content {
    max-width: 800px;
    margin: 0 auto;
}

/* Cambia los estilos según tus preferencias */
